/uploads/sk/*
/assets/img/news/*
/uploads/bukti/*
/uploads/proposal/*
/uploads/berkas/*
/uploads/laporan_kemajuan/*
/uploads/laporan_akhir/*
/uploads/luaran/*
/application/vendor
/application/composer.lock
/application/config/database.php
/uploads/chat_attachment/*
/uploads/kegiatan_survei_attachment/*
/uploads/kegiatan_realisasi_attachment/*
/uploads/dokumen_perusahaan/*
/uploads/cover_product/*
/uploads/attachment_product/*
/uploads/dokumen_bp3l_rek/*
/uploads/dokumen_bp3l_sertifikat_ig/*
/uploads/dokumen_bpsmb_mutu/*
/uploads/dokumen_disperindag_izin/*
/uploads/dokumen_kpb_rek/*
/uploads/dokumen_permohonan/*
/uploads/dokumen_bp3l/*
/uploads/dokumen_hasil_mutu/*
/uploads/dokumen_manifest/*
/application/cache/*
/assets/qrcode/*
/uploads/app/*
/uploads/idp/*
/uploads/ktp/*
/uploads/lu/*
/uploads/nib/*
/uploads/npwp/*
/uploads/paspor/*
/uploads/srbln/*
/uploads/skdp/*
/uploads/skdpna/*
/uploads/skiu/*
/uploads/sp/*
